@use "../../styles/variables/sass.scss" as *;
@use "../../styles/mixins.scss" as mixins;

.block {
  max-width: $width-mobile;
  display: grid;
  justify-items: center;
  margin: 0 auto;
}

.pages {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: $size-normal;
}

.page {
  @include mixins.form-input();
  display: grid;
  justify-items: center;
  align-items: center;
}
