@use "../../styles/variables/sass" as *;

.block {
  position: relative;
}

.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  gap: $size-normal;
  padding: $size-normal 0;

  &_gallery {
    flex-flow: row nowrap;
    overflow-x: auto;
  }

  &_mobile {
    --local-card-width: #{$width-mobile};
  }

  & > * {
    flex: 0 1 var(--local-card-width);
  }
}
