.block {
  display: inline-block;
  height: var(--local-height, 30em);

  &_noImage {
    display: grid;
    align-content: center;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
