.block {
  position: relative;
  display: inline-block;
  width: var(--local-size, var(--local-width, 30em));
  height: var(--local-size, var(--local-height, 30em));

  &_noImage {
    display: grid;
    align-content: center;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
