@use "../../styles/variables/sass.scss" as *;

.block {
  max-width: var(--local-max-width, #{$width-mobile});
  background-color: var(--colour1-secondary);
  padding: $size-small;
  margin: 0 auto;
}

.image {
  width: 100%;
  height: var(--local-height, 100%);
}
