// a ducttape to overwrite generic rules
a.block {
  --local-colour1-primary: transparent;
  --local-colour1-secondary: transparent;
  --local-colour2-primary: transparent;
  --local-colour2-secondary: transparent;

  display: inline-block;
  padding: 0;
}

.image {
  width: 100%;
}
