@use "../../../styles/variables/sass" as *;

.info {
  display: grid;
  grid-template-columns: 1fr;
  gap: $size-normal;
  padding: $size-normal 0;
}

.images {
  max-width: 20em;
  margin: 0 auto;
}

.list {
  position: relative;
  overflow-x: hidden;
}

.image {
  position: absolute;
  visibility: hidden;
  opacity: 0;

  transition-duration: var(--duration-global);
  transition-property: visibility, opacity;

  &_shown {
    visibility: visible;
    opacity: 1;
  }
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
}
.button {}

.capital {
  &::after {
    content: none;
  }
}

.region {
  margin-right: 0;
}

.codes {

  &_term {
    display: block;
  }
}
