@use "../../../styles/variables/sass" as *;

.info {
  display: grid;
  grid-template-columns: 1fr;
  gap: $size-normal;
  padding: $size-normal 0;
}

.images {
  max-width: 20em;
  margin: 0 auto;
}

.capital {
  &::after {
    content: none;
  }
}

.region {
  margin-right: 0;
}

.codes {

  &_term {
    display: block;
  }
}
