@use "../../styles/variables/sass" as *;

.block {
  display: grid;


}

.images {
  display: grid;
  grid-template-areas: "image";
}

.image {
  grid-area: image;
  visibility: hidden;
  opacity: 0;

  transition-duration: var(--duration-global);
  transition-property: opacity, visibility;

  &_shown {
    visibility: visible;
    opacity: 1;
  }
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: $size-normal;
  padding: $size-small;
}

.button {
  flex: 0 0 6em;
}
