@use "../../styles/variables/sass.scss" as *;

.block {
  max-width: var(--local-article-width, #{$width-tablet});
  background-color: var(--colour1-primary);
  border-radius: $radius-normal;
  padding: $size-normal;
  margin: 0 auto;
}

.header {
}

.body {
}

.footer {
}
