@use "../../../styles/variables/sass.scss" as *;

.block {
  grid-template-areas:
    "header"
    "body"
    "rating"
    "actions";
  row-gap: $size-small;
  background-color: var(--colour1-primary-transparent);
  padding: $size-small;
  & > * {
    padding: $size-small;
  }
}

.header {
  grid-area: header;
  display: grid;
  grid-template:
    "avatar name" auto
    "date date" auto
    / 4em auto;
  justify-items: start;
  align-items: center;
  padding: 0;
}

.avatar {
  grid-area: avatar;
  border-radius: 50%;
  border: $size-pixel solid var(--colour1-tertiary-transparent);
  overflow: hidden;
}

.name {
  grid-area: name;
}

.date {
  grid-area: date;
}

.body {
  grid-area: body;
  background-color: var(--colour1-primary);
  border-radius: $radius-small;
}

.content {
  margin: 0;
}

.rating {
  grid-area: rating;
  background-color: var(--colour1-tertiary-transparent);
  border-radius: $radius-normal;
}

.actions {
  grid-area: actions;
}
