@use "../../../styles/variables/sass.scss" as *;

.block {
  grid-template-areas:
    "header header"
    "content content"
    "rating actions";
  padding: $size-small;

  & > * {
    padding: $size-small;
  }
}

.header {
  grid-area: header;
  display: grid;
  grid-template:
    "avatar name" auto
    "date date" auto
    / auto
  ;
  padding: 0;
}

.avatar {
  grid-area: avatar;
  border-radius: 50%;
  background-color: var(--colour1-secondary);
  overflow: hidden;
}

.name {
  grid-area: name;
}

.date {
  grid-area: date;
}

.content {
  grid-area: content;
}

.rating {
  grid-area: rating;
  justify-self: start;
  background-color: var(--colour1-secondary);
  border-radius: $radius-normal;
}

.actions {
  grid-area: actions;
}
