@use "../../../styles/variables/sass.scss" as *;

.block {
  grid-template-areas:
    "header"
    "body"
    "rating"
    "actions";
  row-gap: $size-small;
  background-color: var(--colour1-primary-transparent);
  padding: $size-small;

  & > * {
    padding: $size-small;
  }

  &_hidden {
    grid-template-areas: "header";
    gap: 0;
  }
}

.stub {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.header {
  grid-area: header;
  display: grid;
  grid-template:
    "avatar name" auto
    "date date" auto
    / 4em auto;
  justify-items: start;
  align-items: center;
  padding: 0;
}

.avatar {
  grid-area: avatar;
  border-radius: 50%;
  border: $size-pixel solid var(--colour1-tertiary-transparent);
  overflow: hidden;
}

.name {
  grid-area: name;
}

.date {
  grid-area: date;
}

.body {
  grid-area: body;
  background-color: var(--colour1-primary);
  border-radius: $radius-small;
}

.content {
  margin: 0;
}

.rating {
  grid-area: rating;
  background-color: var(--colour1-tertiary-transparent);
  border-radius: $radius-normal;

  &_liked {
    .like {
      --local-icon-colour-primary: var(--positive-colour1-primary);
    }
    .dislike {
      opacity: 0.5;
    }
  }

  &_disliked {
    .dislike {
      --local-icon-colour-primary: var(--negative-colour1-primary);
    }
    .like {
      opacity: 0.5;
    }
  }
}

.count {
  font-size: 1.2em;

  &_positive {
    color: var(--positive-colour1-primary);
  }

  &_negative {
    color: var(--negative-colour1-primary);
  }
}

.like {
}
.dislike {
}

.actions {
  grid-area: actions;
}
