@use "../../../styles/variables/sass" as *;

.block {
  display: inline-block;
  background-color: var(--colour1-primary);
  border-radius: 10px;
  padding: $size-small $size-normal;

  &_local {}
  &_global {}
}

.title {
  font-weight: bold;
  margin: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.item {}

.link {}
