@use "../../styles/variables/sass.scss" as *;

.block {
}

.list {
  display: flex;
  flex-flow: row nowrap;
}

.item {
  flex: 0 0 calc(100% / 7);
  text-align: center;

  & .long {
    display: none;
  }

  @media (min-width: $width-tablet) {
    .short {
      display: none;
    }

    .long {
      display: unset;
    }
  }
}
