@font-face {
  font-family: "NunitoSans";
  src: url("/fonts/NunitoSans/NunitoSans-Black.ttf");
}

@font-face {
  font-family: "NunitoSans";
  src: url("/fonts/NunitoSans/NunitoSans-BlackItalic.ttf");
}

@font-face {
  font-family: "NunitoSans";
  src: url("/fonts/NunitoSans/NunitoSans-Bold.ttf");
}

@font-face {
  font-family: "NunitoSans";
  src: url("/fonts/NunitoSans/NunitoSans-BoldItalic.ttf");
}

@font-face {
  font-family: "NunitoSans";
  src: url("/fonts/NunitoSans/NunitoSans-ExtraBold.ttf");
}

@font-face {
  font-family: "NunitoSans";
  src: url("/fonts/NunitoSans/NunitoSans-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: "NunitoSans";
  src: url("/fonts/NunitoSans/NunitoSans-ExtraLight.ttf");
}

@font-face {
  font-family: "NunitoSans";
  src: url("/fonts/NunitoSans/NunitoSans-ExtraLightItalic.ttf");
}

@font-face {
  font-family: "NunitoSans";
  src: url("/fonts/NunitoSans/NunitoSans-Italic.ttf");
}

@font-face {
  font-family: "NunitoSans";
  src: url("/fonts/NunitoSans/NunitoSans-Light.ttf");
}

@font-face {
  font-family: "NunitoSans";
  src: url("/fonts/NunitoSans/NunitoSans-LightItalic.ttf");
}

@font-face {
  font-family: "NunitoSans";
  src: url("/fonts/NunitoSans/NunitoSans-Regular.ttf");
}

@font-face {
  font-family: "NunitoSans";
  src: url("/fonts/NunitoSans/NunitoSans-SemiBold.ttf");
}

@font-face {
  font-family: "NunitoSans";
  src: url("/fonts/NunitoSans/NunitoSans-SemiBoldItalic.ttf");
}
