@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("/fonts/NunitoSans/NunitoSans-ExtraLight.ttf");
}

@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("/fonts/NunitoSans/NunitoSans-ExtraLightItalic.ttf");
}

@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/NunitoSans/NunitoSans-Light.ttf");
}

@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/NunitoSans/NunitoSans-LightItalic.ttf");
}

@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/NunitoSans/NunitoSans-Regular.ttf");
}

@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/NunitoSans/NunitoSans-Italic.ttf");
}

@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/NunitoSans/NunitoSans-SemiBold.ttf");
}

@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/NunitoSans/NunitoSans-SemiBoldItalic.ttf");
}

@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
   font-weight: 700;
  font-display: swap;
  src: url("/fonts/NunitoSans/NunitoSans-Bold.ttf");
}

@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/NunitoSans/NunitoSans-BoldItalic.ttf");
}

@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/NunitoSans/NunitoSans-ExtraBold.ttf");
}

@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/NunitoSans/NunitoSans-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("/fonts/NunitoSans/NunitoSans-Black.ttf");
}

@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("/fonts/NunitoSans/NunitoSans-BlackItalic.ttf");
}
