@use "../../styles/variables/sass" as *;

.header {
  text-align: center;
  margin-bottom: $size-small;
}

.heading {
}

.content {

  &_headless {
    padding-top: $size-normal;
  }

  & > * {
    margin-bottom: $size-normal;
  }

}
