@use "../../styles/variables/sass.scss" as *;

.block {
}

.external {
}

.internal {
  display: flex;
  align-items: center;
  gap: $size-small;
}

.local {
}

.email {
  display: flex;
  align-items: center;
  gap: $size-small;
}

.icon {
  --local-width: 1.5em;
  --local-height: 1.5em;
}
