@use "../../styles/variables/sass" as *;

.header,
.main,
.footer {
}

.header {
  grid-area: header;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: $size-normal;
  background-color: var(--colour1-secondary-transparent);

  transition-duration: var(--duration-global);
  transition-property: color, background-color;
}

.main {
  grid-area: main;
  transition-duration: var(--duration-global);
  transition-property: color, background-color;
}

.footer {
  grid-area: footer;
  background-color: var(--colour1-secondary-transparent);

  transition-duration: var(--duration-global);
  transition-property: color, background-color;
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: $size-normal;
  width: 100%;
  background-color: transparent;
  padding: 0;
}

.list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  gap: $size-normal;
}

.navLink {
  --local-width: 1.75em;
  --local-height: 1.75em;

  display: inline-flex;
  align-items: center;
  gap: $size-small;
  align-items: center;
}

.switch {
  --local-width: 1.5em;
  --local-height: 1.5em;

  display: inline-flex;
  align-items: center;
  gap: $size-small;
  align-items: center;
  text-transform: capitalize;
}
