@use "../../styles/variables/sass" as *;

.block {
  display: inline-block;
  background-color: var(--colour1-secondary);
  border-radius: $radius-normal;
  padding: $size-small $size-normal;
}

.list {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: $size-small;
}

.item {
}

.link {
}
