@use "../../styles/variables/sass" as *;

.block {
  --local-colour1-primary: var(--colour0-primary);
  --local-colour1-secondary: var(--colour0-secondary);
  --local-colour1-tertiary: var(--colour0-tertiary);
  --local-colour2-primary: var(--colour1-primary);
  --local-colour2-secondary: var(--colour1-secondary);
  --local-colour2-tertiary: var(--colour1-tertiary);

  box-sizing: border-box;
  min-height: 44px;
  min-width: 44px;
  font-family: inherit;
  font-size: 100%;
  color: var(--local-colour1-primary);
  background-color: var(--local-colour2-secondary);
  border-radius: 5px;
  border: $size-nano solid var(--local-colour1-secondary);
  padding: $size-small;
  box-shadow: inset 2px 2px 3px var(--local-colour2-secondary),
    inset -2px -2px 3px var(--local-colour1-tertiary);

  transition-duration: var(--duration-global);
  transition-property: box-shadow, background-color, border-color;

  &:focus,
  &:hover {
    background-color: var(--local-colour2-primary);
  }
  &:active {
    box-shadow: inset 2px 2px 3px var(--local-colour1-tertiary),
      inset -2px -2px 3px var(--local-colour2-secondary);
  }
}
