.block {
}

.title {
}

.spellings {
  color: var(--colour0-secondary);
}

.spelling {
}

.stat {
  & > * {
    display: inline;
  }

  & > dt {
    font-weight: bold;

    &::after {
      content: ": ";
    }
  }
}
