@use "../../../styles/variables/sass" as *;

// .block {
// }

.flag {
  width: 100%;
  height: 10em;
}

// .title {
// }

.spellings {
  list-style: none;
  color: var(--colour0-secondary);
  padding: 0;
}

.spelling {
  display: inline;

  &::after {
    content: ", ";
  }

  &:last-child {
    &::after {
      content: none;
    }
  }
}

// .stat {
// }
