@use "../../../styles/variables/sass" as *;

// .block {
// }

.flag {
  --local-colour2-secondary: var(--colour1-secondary-transparent);
  width: 100%;
  height: 10em;
  background-color: var(--local-colour2-secondary);
  padding: $size-little;
}

// .title {
// }

.details {
  padding: 0;
}

.spellings {
  list-style: none;
  color: var(--colour0-secondary);
  padding: 0;
}

.spelling {
  display: inline;

  &::after {
    content: ", ";
  }

  &:last-child {
    &::after {
      content: none;
    }
  }
}

// .stat {
// }
