.block {
  --local-colour1-primary: transparent;
  --local-colour1-secondary: transparent;
  --local-colour2-primary: transparent;
  --local-colour2-secondary: transparent;

  display: inline-block;
}

// .picture {
// }

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
