@use "../../../styles/variables/sass.scss" as *;

.block {
}

.body {
  & h2:first-child {
    display: none;
  }

  & pre {
    white-space: pre-wrap;
    background-color: var(--colour1-secondary);
    border-radius: $radius-small;
    padding: $size-small;
  }
}
