@use "../../styles/variables/sass.scss" as *;

.block {
  border-radius: $radius-normal;
  border: $size-thin solid var(--colour0-tertiary);
  overflow: hidden;
}

.year,
.month {
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: $size-thin solid var(--colour0-tertiary);
  padding: $size-small;
}

.button {
  flex-basis: 5em;
}

.days {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: center;
}

.day {
  flex: 0 0 calc(100% / 7);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40px;
  align-items: center;
  justify-items: center;

  &_weekend {

  }

  &_current {

  }
}
