@use "../../styles/variables/sass.scss" as *;

.notes {
  background-color: var(--colour1-secondary);
  padding: $size-small;
}

.list {

}

.new {
  display: flex;
  flex-flow: row nowrap;
  width: 100%; 
}

.add {

}

.remove {

}

.note {
  background-color: var(--colour1-primary);
}