@use "../../styles/variables/sass.scss" as *;

.notes {
  background-color: var(--colour1-secondary);
  padding: $size-small;
}

.list {
}

.new {
  display: flex;
  flex-flow: row nowrap;
  max-width: 100%;
  padding: 0;
}

.inputs {
  flex: 1 1 auto;
}

.add {
  flex: 0 0 5em;
  align-self: flex-end;
  display: flex;
  gap: 1em;
}

.remove {
}

.note {
  background-color: var(--colour1-primary);
}
