@use "../../../styles/variables/sass" as *;

.block {}

.section {
}

.term {
  display: inline;
  font-weight: bold;

  &::after {
    content: ': ';
  }
}

.details {
  display: inline;

  &::after {
    content: ", ";
  }

  &:last-child {
    &::after {
      content: none;
    }
  }
}
