.block {
  --local-colour1: var(--colour0-primary);
  --local-width: 1em;
  --local-height: 1em;

  display: grid;
  width: var(--local-width);
  height: var(--local-height);
}

.svg {
  width: 100%;
  height: 100%;
}

.use {
}
