@use "../../../../styles/variables/sass" as *;

.header,
.main,
.footer {
  font-family: "Nunito Sans", sans-serif;
  [data-theme="light"] & {
    --colour0-primary: hsl(200, 15%, 8%);
    --colour0-primary-transparent: hsl(200, 15%, 8%, 60%);
    --colour0-secondary: hsl(207, 26%, 17%);
    --colour0-secondary-transparent: hsla(207, 26%, 17%, 40%);
    --colour0-tertiary: hsl(209, 23%, 22%);
    --colour0-tertiary-transparent: hsla(209, 23%, 22%, 40%);
    --colour1-primary: hsl(0, 0%, 98%);
    --colour1-primary-transparent: hsla(0, 0%, 98%, 50%);
    --colour1-secondary: hsl(0, 0%, 90%);
    --colour1-secondary-transparent: hsla(0, 0%, 90%, 50%);
    --colour1-tertiary: hsla(0, 0%, 80%);
    --colour1-tertiary-transparent: hsla(0, 0%, 80%, 50%);
  }

  [data-theme="dark"] & {
    --colour0-primary: hsl(0, 0%, 95%);
    --colour0-primary-transparent: hsla(0, 0%, 95%, 50%);
    --colour0-secondary: hsl(0, 0%, 90%);
    --colour0-secondary-transparent: hsla(0, 0%, 90%, 50%);
    --colour0-tertiary: hsla(0, 0%, 80%);
    --colour0-tertiary-transparent: hsla(0, 0%, 80%, 50%);
    --colour1-primary: hsl(200, 15%, 8%);
    --colour1-primary-transparent: hsl(200, 15%, 8%, 60%);
    --colour1-secondary: hsl(207, 26%, 17%);
    --colour1-secondary-transparent: hsla(207, 26%, 17%, 40%);
    --colour1-tertiary: hsl(209, 23%, 22%);
    --colour1-tertiary-transparent: hsla(209, 23%, 22%, 40%);
  }
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: $size-normal;
  background-color: var(--colour1-secondary);

  transition-duration: var(--duration-global);
  transition-property: color, background-color;
}

.navigation {

}

.list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  gap: $size-normal;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main {
  background-color: var(--colour1-tertiary);
  transition-duration: var(--duration-global);
  transition-property: color, background-color;
}

.footer {
  background-color: var(--colour1-secondary);

  transition-duration: var(--duration-global);
  transition-property: color, background-color;
}
