@use "../../../../styles/variables/sass" as *;

.header {
}

.navigation {

}

.list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  gap: $size-normal;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main {
}

.footer {
}
