@use "../../../../styles/variables/sass" as *;

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: $size-normal;
  background-color: var(--colour1-secondary-transparent);
}

.navigation {

}

.list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  gap: $size-normal;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main {
}

.footer {
  background-color: var(--colour1-secondary-transparent);
}
