@use "../../../styles/variables/sass" as *;

.block {
  // background-color: var(--colour1-primary);
  // border-radius: 10px;
  // padding: $size-normal;
}

// .section {
// }

.term {
  display: inline-block;
  font-weight: bold;

  &::after {
    content: ":";
  }

  &:last-of-type {
    margin-right: $size-small;
  }
}

.details {
  display: inline;

  &::after {
    content: ", ";
  }

  &:last-child {
    &::after {
      content: none;
    }
  }

  & .block {
    padding: 0 0 0 calc(#{$size-normal} * 2)
  }
}

.details {
  display: inline-block;
}
