@use "../../../styles/variables/sass.scss" as *;

.block {
  // background-color: var(--colour1-primary);
  // border-radius: 10px;
  // padding: $size-normal;
}

.section {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

.term {
  display: inline-flex;
  align-items: center;
  font-weight: bold;

  &::after {
    content: ":";
  }

  &:last-of-type {
    margin-right: $size-small;
  }
}

.details {
  display: inline-flex;
  align-items: center;

  &::after {
    content: ",";
    margin-right: $size-little;
  }

  &:last-child {
    &::after {
      content: none;
    }
  }

  & .block {
    padding: 0 0 0 calc(#{$size-normal} * 2);
  }
}
